<h1>Cadastrar um imóvel</h1>
<% if @property.errors.any? %>
  <% @property.errors.full_messages.each do |msg| %>
    <div class="errors">
      <%= msg %>
    </div>
  <% end %>
<% end %>

<%= form_for @property do |f| %>
  <div>
    <%= f.label :title, 'Título' %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description, 'Descrição completa' %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label :property_location, 'Localização' %>
    <%= f.text_field :property_location %>
  </div>
  <div>
    <%= f.label :neighborhood, 'Bairro' %>
    <%= f.text_field :neighborhood %>
  </div>
  <div>
    <%= f.label :main_photo, 'Foto principal' %>
    <%= f.text_field :main_photo %>
  </div>
  <div>
    <%= f.label :rent_purpose, 'Finalidades do imóvel' %>
    <%= f.text_field :rent_purpose %>
  </div>
  <div>
    <%= f.label :rooms, 'Quartos' %>
    <%= f.text_field :rooms %>
  </div>
  <div>
    <%= f.label :maximum_guests, 'Número máximo de hospedes' %>
    <%= f.text_field :maximum_guests %>
  </div>
  <div>
    <%= f.label :minimum_rent, 'Dias mínimos para locação' %>
    <%= f.text_field :minimum_rent %>
  </div>
  <div>
    <%= f.label :maximum_rent, 'Dias máximos para locação' %>
    <%= f.text_field :maximum_rent %>
  </div>
  <div>
    <%= f.label :daily_rate, 'Preço da diária' %>
    <%= f.text_field :daily_rate %>
  </div>
  <div>
    <%= f.check_box :accessibility %>
    <%= f.label :accessibility, 'Possui acessibilidade' %>
    <br>
    <%= f.check_box :allow_pets %>
    <%= f.label :allow_pets, 'Aceita animais' %>
    <br>
    <%= f.check_box :allow_smokers %>
    <%= f.label :allow_smokers, 'Aceita fumantes' %>
  </div>
  <%= f.submit 'Enviar' %>
<% end %>
