<% if @properties.empty? %>
  <div>
    Nenhum imóvel encontrado
  </div>
  <% else %>
    <% @properties.each do |property| %>
      <div>
        <h1><%= property.title %></h1>
        <h3><%= property.main_photo %></h3>
        <p>Preço da diária: R$ <%= property.daily_rate %></p>
        <p>Acomoda até: <%= property.maximum_guests %> pessoas</p>
        <p>Localização: <%= property.property_location %></p>
      </div>
    <% end %>
<% end %>
